version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-app_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-AppUser@123}
      POSTGRES_DB: ${POSTGRES_DB:-db_app}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5433"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-app_user}:${POSTGRES_PASSWORD:-AppUser@123}@db:5433/${POSTGRES_DB:-db_app}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - FONT_PATH=fonts/Roboto-Bold.ttf
      - SECRET_KEY=${SECRET_KEY:-b9e31d3f9b8c4d29a5f4e6d7c8b9a1e2f3g4h5i6j7k8l9m0n1o2p3q4r5s6t7u8}
    volumes:
      - ./backend/storage:/app/storage
    depends_on:
      - db
      - redis

  worker:
    build: ./backend
    restart: always
    command: celery -A celery_app worker --loglevel=info
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-app_user}:${POSTGRES_PASSWORD:-AppUser@123}@db:5433/${POSTGRES_DB:-db_app}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - FONT_PATH=fonts/Roboto-Bold.ttf
    volumes:
      - ./backend/storage:/app/storage
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    restart: always
    environment:
      - NEXT_PUBLIC_API_URL=https://tupianpipei.online/api
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/storage:/app/storage:ro
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
